/*Add padding and margin to space out the page.
Make the font larger too.*/
body{
	margin:1%;
	padding:1%;
	font-size:150%;
	background-color: aliceblue;
}


/*Make the h1 heading bigger with a bold font*/
h1{
	font-size: 2em; 
	font-weight: bold;
	text-align: center;
	
}

.active{
	background: rgb(238, 143, 143);
    text-transform: uppercase;
	text-align: center;
}

a:link { text-decoration: none; }
.active a{
	text-decoration: none;;
}
.profile_container{
	display: grid;
	margin-top: 50px;
	grid-template-columns: 1.5fr 4fr ;
	grid-template-rows: 350px;
}
.profile_container > div{
	object-fit: cover;
}
.profile_img{
	grid-row: 1 / -1;
	grid-column: 1 / span 1;
}
.bio{
	grid-row: 1 / -1;
	grid-column: 2 / span 1;

}
.profile_img img{
	width: 100%;
	height:100%; 
    object-fit: cover;

}


.bio_para{
	line-height: 1.5;
	text-align: justify;
	
}
/*Style the images*/
.project_image {
	text-align: center;
	margin: auto; 
	justify-content: center;
	border: black 2px solid;
	height: auto;
	width: 500px;
  }

  .project_image figcaption {
	padding: 0;
	position: relative;
  }

a{
	color: whitesmoke;
}
#footer {
	position: relative;
	margin-top: 400px;
	/* negative value of footer height */
	height: 20px;
	clear: both;
	background-color: black;
	color: white;
  }
  
/*Make the h2 heading match h1*/
h2{
	font-size: 2em; 
	font-weight: bold;
}

/*Improve the spacing for paragraphs AND headings*/
p, h1, h2 {
    padding: 10px;
}

/*Add borders around the main components and some
space too*/

.page_start p{
	padding-top: 75px; 
	font-size: larger; 
	padding-bottom: 50px;
}

.project{
	min-height: 300px;
	height: auto;
	align-content: center;
	border: black 1px solid;
	margin-top: 40px;
}

/*Change the styling for all of the list 
items in the nav section*/
nav li{
	background-color: #8c3434;
	padding:10px;
	width:25%;
	border:1px solid black;
	display: inline-block;
	width: 23.16%;
	
}

/*Added this so the links stay the same color*/
a:visited{color:#f2f2f7}

.project_heading{
	font-family: Georgia, 'Times New Roman', Times, serif;
	background-color: #8c3434;
	color: white;
	font-size: 21pt;

}
.project_desc{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16pt;
	text-align: justify;
	line-height: 1.2;
}
.bolded { font-weight: bold; }
.italics{font-style: italic;
			font-size: 14pt;}
.blog_head{
	background-image: url("../images/books_bg.jpg");
	margin-top: 10px;
	background-size: cover;
	background-position: center;
	height: 200px;
}




.caption {
	display: block;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 24px;
	line-height: 1.5;

	padding-top: 120px;
	position: relative;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);

  }

.publication_list{
	/* make bullet points red squares */
	list-style:square ;
	margin-left: 50px;
  }

.blog_body{
	background-size: cover;
	background-position: center;
	height: 120px;
	margin-top: 30px;
	padding-top: 30px;
	border-color: grey;
	border-width: 1px;
	border-style:solid;
}
.blog_body:hover {
	display: block;
	background-image: url("../images/polka_dots_bg.png");
	color: whitesmoke
	}

.project_image:hover, .project_image:focus{
	box-shadow: 10px 10px 5px gray;
	}


.move_to_top{
	margin-top: 90px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	background-color: #8c3434;
	width: 15%;
	padding-left: 1%;
	padding-right: 1%;
	height: 45px;
	text-align: center;
	border-radius: 8px;
	
}
.move_to_top:hover, move_to_top:focus{
	background-color: rgb(238, 143, 143);
}
.move_to_top a{
	color: white;
	align-content: center;
	font-size: 40px;

}